.flat-input {
  border-radius: 0 !important;
  box-shadow: unset !important;
}

.intl-tel-input.allow-dropdown input.phone-numbers-input {
  height: 30px !important;
  margin-bottom: 5px !important;
}

.phone-icon-verified {
  color: green !important;
}

.phone-icon-not-verified {
  color: red !important;
}

.admin-phone-numbers .inline-spinner {
  display: inline !important;
}

.user-main .about .phone-numbers {
  
  color: #222;

  .value, .field {
    width: auto;
  }

  .btn {
    margin: 2px 5px 2px 0;
  }

  .field {
    margin-left: 0;
  }

  .controls {
    float: left;
    width: auto;
    padding: 0;
  }

}

.intl-tel-input .selected-flag {
  height: 30px;
}